* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    list-style: none;
}

header {
    background-color: #173334;
    color: white;
    height: 17vh;
}

header nav {
    padding: 2vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10vw;
    margin-right: 10vw;
}

.logo {
    color: #febd2f;
}

form {
    border: 0.1px solid rgba(255, 255, 255, 0.607);
    border-radius: 2px;
    height: 25px;
}

.serch,
button {
    background-color: #173334;
    border: none;
    color: white;
    margin-top: 6px;
    margin-left: 3px;
}

.serch {
    height: 15px;
}

.serch:focus {
    outline: none;
    align-self: center;
}

#select {
    height: 30px;
    background-color: #173334;
    color: white;
    border: none;
    border-left: 0.1px solid white;
    height: 18px;
    padding: 2px;
}

.timing,
.contact {
    font-size: 14px;
}

button a svg {
    height: 13px;
}


.bottom {
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
}

.system ul {
    height: 27vh;
    border-radius: 10px;
    width: 17vw;
    padding: 3px;
    border: none;
    background-color: #173334;
    margin-left: 100px;
    margin-top: 3px;
    position: relative;
    top: 10px;
    z-index: 1;
}

.system ul li .All {
    border-radius: 5px;
    background-color: #febd2f;
    color: black;
}

.system ul li a {
    color: white;
    list-style: lower-alpha;
    text-decoration: none;
    gap: 10px;
    padding: 10px;
    text-align: center;
}

.system ul li {
    margin-left: 10px;
    width: 15vw;
    margin-bottom: 7px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.system ul li:hover,
.All {
    border-radius: 10px;
    background-color: #febd2f;
    text-decoration-color: black;
}

.system ul li a:hover {
    color: black;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.itmls ul {
    display: flex;
    gap: 5px;
    margin-left: 12vw;
    margin-top: 10px;
}

.itmls ul li {
    color: #febd2f;
}

.itmls ul li a {
    color: white;
    text-decoration: none;
    list-style: none;
    gap: 15px;
    padding: 5px;
    border-radius: 3px;
}

.itmls ul li a:hover {
    background-color: #febd2f;
    color: #173334;
}

main {
    font-family: 'IBM Plex Mono', monospace;
    position: relative;
    top: 15vh;
    background-color: #febd2f;
    height: 80vh;
    color: #173334;
    overflow: hidden;
    align-items: center;
    box-sizing: border-box;
}

main a {
    top: 10vh;
    display: flex;
    color: #173334;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 20px;
    width: 151px;
    height: 60px;
    margin-left: 40%;
}

main h2 {
    text-align: center;
    margin-left: -80px;
    font-weight: bold;
    font-size: xx-large;
}

main div {
    width: 45%;
    margin-left: 25%;
    margin-top: 5vh;
    border: 1px solid #17333459;
    height: 50vh;
    padding-bottom: 10px;
}

main div button .sendmsg {
    background-color: #febd2f;
    color: #173334;
}

.sendotp {
    color: #173334;
    background-color: #febd2f;
}

.sendotp:hover {
    color: #febd2f;
    background-color: #173334;
}

main div form {
    border: none;
}

main div a {
    width: 50px;
}

form input:focus {
    outline: none;
}

footer {
    position: absolute;
    background-color: #173334;
    width: 100%;
    margin-top: 15vh;
}

footer .hello {
    display: flex;
    justify-content: space-around;
}

footer .hello .second a,
footer .hello .third a,
footer .hello .fourth a {
    color: white;
    text-decoration: none;
    list-style: none;
    gap: 10px;
}

footer .hello .fourth {
    margin-left: -40px;
}

footer .hello div {
    margin-top: 10vh;
    margin-right: 20px;
    margin-left: 50px;
}

footer p {
    margin-top: 40px;
}

@media screen and (min-width: 1174px) {
    body {
        font-size: 1rem;
    }
}