* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    margin: 30%;
    margin-top: 10%;
    background-image: url('/efe-kurnaz-RnCPiXixooY-unsplash.jpg');
    margin-left: 25%;
    background-size: cover;
    background-repeat: none;
}

header {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.463);
}

.augus {
    background-color: #17333455;
    color: #febd2f;
    padding: 10px;
    text-align: center;
}

header p {
    color: white;
    font-weight: 500;
    margin: 20px;
}

fieldset {
    border-color: white;
    border-style: solid;
    margin: 20px;
    padding: 10px;
    color: white;
}

input {
    background: none;
    border: none;
    padding: 5px;
    color: white;
}

input:focus {
    outline: none;
}

button {
    background-color: #febd2f;
    color: white;
    border: none;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.enter {
    color: #173334;
    padding: 10px;
    font-size: medium;
    border-radius: 5px;
}

.owner {
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

p a {
    color: white;
}

p a:hover {
    color: #febd2f;
}

button:hover {
    background-color: #173334;
    color: #febd2f;
}